In [1]:
# Import the data
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
# from scipy.stats import pearsonr

CO_crashes_df = pd.read_csv('../CO_Accidents_March23.csv')
CO_crashes_df.head()

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,A-512446,Source2,3,2022-09-08 13:03:18,2022-09-08 13:32:26,39.848122,-104.985306,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,A-512565,Source2,1,2022-09-08 08:44:08,2022-09-08 09:13:40,39.776600,-105.062630,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,A-512637,Source2,2,2022-09-08 06:57:38,2022-09-08 07:27:23,39.899731,-104.868507,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,A-512643,Source2,1,2022-09-08 08:45:51,2022-09-08 09:15:28,39.618809,-104.773201,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,A-512644,Source2,3,2022-09-08 08:42:23,2022-09-08 09:11:57,39.725094,-105.012817,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [9]:
CO_crashes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90885 entries, 0 to 90884
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             90885 non-null  int64
 1   ID                     90885 non-null  object
 2   Source                 90885 non-null  object
 3   Severity               90885 non-null  int64
 4   Start_Time             90885 non-null  object
 5   End_Time               90885 non-null  object
 6   Start_Lat              90885 non-null  float64
 7   Start_Lng              90885 non-null  float64
 8   End_Lat                47671 non-null  float64
 9   End_Lng                47671 non-null  float64
 10  Distance(mi)           90885 non-null  float64
 11  Description            90885 non-null  object
 12  Street                 90727 non-null  object
 13  City                   90877 non-null  object
 14  County                 90885 non-null  object
 15  State                  90885 non-null  object
 16  Zipcode                90885 non-null  object
 17  Country                90885 non-null  object
 18  Timezone               90884 non-null  object
 19  Airport_Code           90717 non-null  object
 20  Weather_Timestamp      89863 non-null  object
 21  Temperature(F)         89602 non-null  float64
 22  Wind_Chill(F)          73624 non-null  float64
 23  Humidity(%)            89518 non-null  float64
 24  Pressure(in)           89805 non-null  float64
 25  Visibility(mi)         89255 non-null  float64
 26  Wind_Direction         89319 non-null  object
 27  Wind_Speed(mph)        84678 non-null  float64
 28  Precipitation(in)      62826 non-null  float64
 29  Weather_Condition      89475 non-null  object
 30  Amenity                90885 non-null  bool
 31  Bump                   90885 non-null  bool
 32  Crossing               90885 non-null  bool
 33  Give_Way               90885 non-null  bool
 34  Junction               90885 non-null  bool
 35  No_Exit                90885 non-null  bool
 36  Railway                90885 non-null  bool
 37  Roundabout             90885 non-null  bool
 38  Station                90885 non-null  bool
 39  Stop                   90885 non-null  bool
 40  Traffic_Calming        90885 non-null  bool
 41  Traffic_Signal         90885 non-null  bool
 42  Turning_Loop           90885 non-null  bool
 43  Sunrise_Sunset         90644 non-null  object
 44  Civil_Twilight         90644 non-null  object
 45  Nautical_Twilight      90644 non-null  object
 46  Astronomical_Twilight  90644 non-null  object
dtypes: bool(13), float64(12), int64(2), object(20)
memory usage: 24.7+ MB

In [10]:
# Get the features (everything except the "Severity" column)
X = CO_crashes_df.copy().drop(columns="Severity")

In [11]:
# Display dataframe less severity 
X.head()

,Unnamed: 0,ID,Source,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,A-512446,Source2,2022-09-08 13:03:18,2022-09-08 13:32:26,39.848122,-104.985306,NaN,NaN,0.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,A-512565,Source2,2022-09-08 08:44:08,2022-09-08 09:13:40,39.776600,-105.062630,NaN,NaN,0.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,A-512637,Source2,2022-09-08 06:57:38,2022-09-08 07:27:23,39.899731,-104.868507,NaN,NaN,0.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,A-512643,Source2,2022-09-08 08:45:51,2022-09-08 09:15:28,39.618809,-104.773201,NaN,NaN,0.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,A-512644,Source2,2022-09-08 08:42:23,2022-09-08 09:11:57,39.725094,-105.012817,NaN,NaN,0.0,...,False,False,False,False,False,False,Day,Day,Day,Day

In [12]:
# Get the target column Severity
y = CO_crashes_df["Severity"].values.reshape(-1,1)
y[0:5]

array([[3],
       [1],
       [2],
       [1],
       [3]], dtype=int64)

In [7]:
# Set the Sklearn `train_test_split()` function to split the data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [8]:
import statsmodels.api as sm

# Use the statsmodels package to create and fit a linear regression
lr = sm.OLS(y_train, X_train).fit()

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

In [13]:
CO_crashes_df['County'].value_counts()

County
Denver       21163
Adams        12825
El Paso      10014
Jefferson     8226
Arapahoe      7547
             ...
Montrose        50
Crowley         42
Phillips        36
San Juan        23
Hinsdale         8
Name: count, Length: 64, dtype: int64

In [14]:
CO_crashes_df['City'].value_counts()

City
Denver              29658
Colorado Springs     7820
Aurora               5243
Englewood            3212
Golden               2351
                    ...
Frederick               1
Niwot                   1
Virginia Dale           1
Cedaredge               1
Tabernash               1
Name: count, Length: 340, dtype: int64

In [15]:
CO_crashes_df['Street'].value_counts()

Street
I-25 N                  8585
I-25 S                  7708
I-70 E                  5211
I-70 W                  4979
US-87 N                 2394
                        ...
Duckwood Rd                1
Evergreen Rd               1
S Fiddlers Green Cir       1
Rusty Hinge Dr             1
 E 112th Ave               1
Name: count, Length: 4744, dtype: int64

In [16]:
CO_crashes_df['Severity'].value_counts()

Severity
2    56105
3    26306
4     7504
1      970
Name: count, dtype: int64